<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:frangment="cabecero">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:fragmont = "cabocoro">
        <h1 th:text="#{plantilla.titulo}"> El titulo</h1>
    </header>
        <footer th:fradment="pie">
            <span th:text="#{plantilla.pie}"> El pie </span>
            <p><a href="https://www.youtube.com/watch?v=cYoF-NuKanQ">
                    canal de youtube
                </a></p>
        </footer>
    </body>
</html>
